footer.footer
	.footer__container.container 
		.footer__content 
			.footer__partners.partners
				.swiper.swiper-partners
					.swiper-wrapper.partners__list
						.swiper-slide.partners__item 
							a(href="#").partners__link 
								+picture('partner-minkult')
						.swiper-slide.partners__item
							a(href="#").partners__link 
								+picture('partner-mkmo')
						.swiper-slide.partners__item
							a(href="#").partners__link 
								+picture('partner-zima')
						.swiper-slide.partners__item
							a(href="#").partners__link 
								+picture('partner-gosuslugi')
						.swiper-slide.partners__item
							a(href="#").partners__link 
								+picture('partner-mirmuseya')
						.swiper-slide.partners__item
							a(href="#").partners__link 
								+picture('partner-kultura')

			.footer__top
				.footer__left
					include parts/logo
					p.museum-name ГБУК&nbsp;МО «ГОСУДАРСТВЕННЫЙ МЕМОРИАЛЬНЫЙ МУЗЕЙ-ЗАПОВЕДНИК Д.И.&nbsp;МЕНДЕЛЕЕВА И&nbsp;А.А.&nbsp;БЛОКА»
					a(href="#").btn.btn-up Наверх
				nav.nav.footer__nav
					ul.nav__list 
						li.nav__title 
							h5 Музей
						li.nav__item
							a.nav__link.link(href=`${sitePath}shahmatovo.html`) Шахматово
						li.nav__item
							a.nav__link.link(href=`${sitePath}boblovo.html`) Боблово
						li.nav__item
							a.nav__link.link(href=`${sitePath}tarakanovo.html`) Тараканово
						li.nav__item
							a.nav__link.link(href=`${sitePath}history.html`) История музея
						li.nav__item
							a.nav__link.link(href="#") Заповедник
					ul.nav__list 
						li.nav__title 
							h5 Посетителям
						li.nav__item
							a.nav__link.link(href=`${sitePath}tickets.html`) Стоимость билетов
						li.nav__item
							a.nav__link.link(href=`${sitePath}pushkin-card.html`) Пушкинская карта
						li.nav__item
							a.nav__link.link(href="#") Безопасность
						li.nav__item
							a.nav__link.link(href=`${sitePath}gallery.html`) Галерея
						li.nav__item
							a.nav__link.link(href=`${sitePath}events.html`) Афиша
					ul.nav__list 
						li.nav__title 
							h5 Информация
						li.nav__item
							a.nav__link.link(href=`${sitePath}documents.html`) Документы
						li.nav__item
							a.nav__link.link(href=`${sitePath}news.html`) Новости
						li.nav__item
							a.nav__link.link(href="#") Фонды
						li.nav__item
							a.nav__link.link(href=`${sitePath}contacts.html`) Контакты
			.footer__bottom 	
				.footer__copy 
					span 2024 © Шахматово.
				.footer__social.social
					ul.social__list
						li.social__item
							a.social__link.link(href="https://vk.com/muzey.bloka" target="_blank") ВКонтакте
						li.social__item
							a.social__link.link(href="https://ok.ru/group/58176695500828" target="_blank") Одноклассники
						li.social__item
							a.social__link.link(href="https://t.me/blok_museum" target="_blank") Телеграм
						li.social__item
							a.social__link.link(href="https://www.youtube.com/channel/UCOdk1EbUILrCNqcehUSRy6g/" target="_blank") Youtube
