extends ../base

block vars
	-let pageName = 'boblovo-page'
	-let pageTitle = 'Усадьба Боблово'
	-let metaTitle = 'Усадьба Боблово | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.estate
			.container
				.estate__row
					.estate__col
						+breadcrumps(pageTitle)
						h1= pageTitle
						h2.c-accent 1865 год
						p В июне 1865 года Дмитрий Иванович Менделеев купил в Клинском уезде Московской губернии старинное имение Боблово, где намеревался устроить показательную <span class="c-accent">сельскохозяйственную ферму</span> и добиться эффективного сельскохозяйственного производства, подвести под него научную основу.
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/boblovo-image-01.jpg` data-fancybox="boblovo-gallery") 
							+picture('estates/boblovo-image-01')
				.estate__row
					.estate__col
						h2.c-accent Приобретение
						p Менделеев понимал, что до него в России никто никогда себе такой задачи не ставил, что в любом случае результаты его исследований станут первыми. Они скрупулёзно описаны самим учёным в шестнадцатом томе его сочинений.
						p В сделке с продавцом Менделееву помог его приятель, молодой химик, <span class="c-accent">Николай Павлович Ильин</span>. Имение они купили на двоих.
					.estate__col
						blockquote 
							cite А.И. Попова — «Менделеев в жизни»
							p.c-accent «Оно [Боблово] принадлежало раньше князю Дадьяну, умершему в год эмансипации, не оставив наследников. Имение перешло в казну, потом попало какому‑то частному лицу. У него Дмитрий Иванович с Ильиным и купили Боблово. Дмитрий Иванович рассказывал, что случайно в вагоне по дороге в Москву услыхал об этом имении, заинтересовался и поехал посмотреть, а взглянув, уже не мог отказаться от желания его иметь. И действительно, в Бобловской местности есть что‑то цельное, законченное, как в произведении талантливого художника; ничего не хотелось бы изменить, прибавить, убавить или переставить»
				.estate__row
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/boblovo-image-02.jpg` data-fancybox="boblovo-gallery" data-caption="Боблово. \n Дом Н.П. Ильина") 
							+picture('estates/boblovo-image-02', 'Боблово. \n Дом Н.П. Ильина')
					.estate__col
						h2.c-accent Дом Ильина
						p Николаю Павловичу Ильину досталась в Боблове территория с двумя нежилыми флигелями и с прудом, Менделееву достался усадебный дом предыдущего хозяина и многочисленные сельскохозяйственные постройки.
						p У Ильина был красивый парк с живописным прудом, но участок был неудобно растянут, и жить можно было разве что в одном из небольших кирпичных флигелей. Менделеев чувствовал подавленное настроение своего коллеги и, чтобы как‑то утешить его, Дмитрий Иванович встал между двумя кирпичными флигелями, развёл руки в разные стороны, показывая жестом, как можно сделать из флигелей единое здание. Ильин впоследствии так и поступил — соединил флигели фундаментами, стенами и единой крышей, а позже — возвёл мезонин.
						+picture('estates/sign-02', false, 'svg', 'rtl')
				.estate__row
					.estate__col
						h2.c-accent Гости в Боблово
					.estate__col
						p Часто Дмитрий Иванович брал в аренду комнату в доме Ильина для своих гостей, приезжавших в Боблово, поскольку в деревянном доме, который непосредственно достался Менделееву, хозяевам и гостям жить вместе было бы крайне тесно.
						p После того, как в 1892 году Николай Павлович Ильин продал дом родственникам Д.И. Менделеева, гости Дмитрия Ивановича по‑прежнему устраивались в одной из комнат этого дома, только денег за это Менделеев уже никому не платил.
						p Менделеев в Боблове открыл в себе не только талант агрохимика, но и проектировщика, Дмитрий Иванович с увлечением занимался в Боблове проектированием своего первого дома.
						+picture('estates/sign-01', false, 'svg', 'rtl')
					.estate__col
						blockquote 
							cite И.А. Смирнов — «Историческая справка о Боблове»
							p.c-accent «Первый дом Менделеева, как я его помню, и по фотографиям, был очень интересен. Дом в два этажа. Низ каменный, верх деревянный. Две стены верха были обложены кирпичом в 1/4 кирпича, и кирпичи были укреплены железными заклёпками… Дом построен во вкусе 60–70 гг. фальшиво-русско-швейцарского шале».
				.estate__row
					a.gallery-image(href=`${sitePath}img/estates/guest-01.jpg` data-fancybox="guests-gallery" data-caption="Александр Блок") 
						+picture('estates/guest-01', 'Александр Блок')
					a.gallery-image(href=`${sitePath}img/estates/guest-02.jpg` data-fancybox="guests-gallery" data-caption="Евгений Иванов") 
						+picture('estates/guest-02', 'Евгений Иванов')
					a.gallery-image(href=`${sitePath}img/estates/guest-03.jpg` data-fancybox="guests-gallery" data-caption="Андрей Белый") 
						+picture('estates/guest-03', 'Андрей Белый')
					a.gallery-image(href=`${sitePath}img/estates/guest-04.jpg` data-fancybox="guests-gallery" data-caption="Архип Куинджи") 
						+picture('estates/guest-04', 'Архип Куинджи')
					a.gallery-image(href=`${sitePath}img/estates/guest-05.jpg` data-fancybox="guests-gallery" data-caption="Илья Репин") 
						+picture('estates/guest-05', 'Илья Репин')
					a.gallery-image(href=`${sitePath}img/estates/guest-06.jpg` data-fancybox="guests-gallery" data-caption="Андрей Бекетов") 
						+picture('estates/guest-06', 'Андрей Бекетов')
				.estate__row
					.estate__col
						h2.c-accent Первый дом
						p Закончив сельскохозяйственную программу, Дмитрий Иванович перестал активно посещать свою лабораторию, второй этаж «старого дома» наглухо заколотили. 
						p Дом с заколоченным вторым этажом стоял в Боблове с 1882 по 1919 годы. Весной 1919 года дом разобрали — сначала второй этаж, затем первый.
						+picture('estates/sign-02', false, 'svg')
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/boblovo-image-03.jpg` data-fancybox="boblovo-gallery" data-caption="Боблово. \n Первый дом Д.И. Менделеева") 
							+picture('estates/boblovo-image-03', 'Боблово. \n Первый дом Д.И. Менделеева')
				.estate__row
					.estate__col
						h2.c-accent Новый дом
						p В начале 1880-х годов Менделеев развёлся, и после — женился на художнице Анне Ивановне Поповой. После женитьбы Менделеев разделил свою усадьбу: детям от первого брака отошли старый дом и парк, а новой семье досталась часть усадьбы, расположенная к северу от старого парка, которую он назвал <span class="c-accent">«Имением под Дубом»</span>.
						p В 1883–1886 годах Д.И. Менделеев построил в Боблове новый дом с применением изобретённого тогда негорючего материала «уралита». Создавая его, Дмитрий Иванович обнаружил ещё одну грань своего таланта — архитектора, строителя и садовода. 
						p.bolditalic Второй дом Менделеев построил по собственному проекту, сам делал чертежи, расчёты и сметы.
						+picture('estates/sign-06', false, 'svg', 'rtl')
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/boblovo-image-04.jpg` data-fancybox="boblovo-gallery" data-caption="Чертежи Д.И. Менделеева") 
							+picture('estates/boblovo-image-04', 'Чертежи Д.И. Менделеева')
				.estate__row
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/boblovo-image-05.jpg` data-fancybox="boblovo-gallery" data-caption="Боблово. \n Новый дом Д.И. Менделеева") 
							+picture('estates/boblovo-image-05', 'Боблово. \n Новый дом Д.И. Менделеева')
					.estate__col
						div
							p Дома Дмитрия Ивановича не сохранились до наших дней, но сохранился дом Н.П. Ильина. 
							p И в этом мемориальном отреставрированном здании <span class="c-accent">представлена экспозиция</span>, посвящённая великому русскому учёному.
						a.btn.btn-primary(href=`${sitePath}tickets.html?ref=boblovo`) Билеты
						+picture('estates/sign-04', false, 'svg', 'rtl')
		+eventsSection('Мероприятия в Боблово', true)