extends ../base

block vars
	-let pageName = 'front-page'
	-let pageTitle = 'Музей Шахматово'
	-let metaTitle = 'Музей Шахматово'
	-let metaDescription = ''
block content
		main.main.front-page
			section.section.top
				.top__container.container
					.top__content
						.top__heading
							h1.c-accent МУЗЕЙ-ЗАПОВЕДНИК МЕНДЕЛЕЕВА И&nbsp;БЛОКА
							p Музей рассказывает об&nbsp;истории дружбы двух семей:<br>Менделеевых и&nbsp;Бекетовых-Блока. 
						.top__text
							p В&nbsp;усадьбах проходила жизнь двух семей, росли дети, вершились наука и&nbsp;поэзия. Именно эти места объединили две семьи вместе, связав узами брака Александра Блока и&nbsp;Любовь Менделееву.
							p В&nbsp;музей-заповедник входят три усадьбы: <strong>Боблово</strong>&nbsp;— усадьба Д.И.&nbsp;Менделеева, <strong>Шахматово</strong> — усадьба семьи Бекетовых-Блока, <strong>Тараканово</strong> — усадьба, где&nbsp;венчались Л.Д.&nbsp;Менделеева и&nbsp;А.А.&nbsp;Блок.
			section.section.banner
				.banner__container.container 
					.banner__content 
						.swiper.swiper-mainbanner.banner__slider
							.swiper-wrapper.banner__list
								.swiper-slide.banner__item.banner__item--wide
									+picture('museum-image-01')
								.swiper-slide.banner__item.banner__item--wide
									+picture('museum-image-02')
								.swiper-slide.banner__item.banner__item--wide
									+picture('museum-image-03')
								.swiper-slide.banner__item.banner__item--wide
									+picture('museum-image-04')
							.banner__tools
								.swiper-navigation.banner__navigation
									.swiper-button-prev.banner__btn.banner__btnprev
									.swiper-button-next.banner__btn.banner__btnnext
								.swiper-pagination.banner__pagination
			section.section.mode
				.mode__container.container.card-container
					.mode__content
						.mode__note.ticker
							ul.ticker__content
								li.ticker__item Обращаем ваше внимание, что <strong>8 января</strong> усадьбы будут закрыты. Далее мы работаем по обычному графику: <strong>со среды по воскресенье</strong>.
								li.ticker__item Обращаем ваше внимание, что <strong>8 января</strong> усадьбы будут закрыты. Далее мы работаем по обычному графику: <strong>со среды по воскресенье</strong>.
								li.ticker__item Обращаем ваше внимание, что <strong>8 января</strong> усадьбы будут закрыты. Далее мы работаем по обычному графику: <strong>со среды по воскресенье</strong>.
						ul.mode__list.card-list.card-list--three
							li.mode__item.card-item 
								.mode__title РЕЖИМ РАБОТЫ МУЗЕЯ-ЗАПОВЕДНИКА:
								.mode__table.infotable
									.mode__row.infotable__row
										.mode__col.infotable__col Выходные дни<br>во&nbsp;всех усадьбах
										.mode__col.infotable__col <span class="c-accent">Понедельник<br>Вторник</span>
							li.mode__item.card-item
								.mode__title Шахматово и&nbsp;Тараканово
								.mode__table.infotable
									.mode__row.infotable__row
										.mode__col.infotable__col Среда — Воскресенье
										.mode__col.infotable__col с&nbsp;9:30 до&nbsp;18:00
									.mode__row.infotable__row
										.mode__col.infotable__col Касса
										.mode__col.infotable__col с&nbsp;9:30 до&nbsp;17:30
							li.mode__item.card-item 
								.mode__title Боблово
								.mode__table.infotable
									.mode__row.infotable__row
										.mode__col.infotable__col Среда — Воскресенье
										.mode__col.infotable__col с&nbsp;9:00 до&nbsp;17:30
									.mode__row.infotable__row
										.mode__col.infotable__col Касса
										.mode__col.infotable__col с&nbsp;9:00 до&nbsp;17:00
			+eventsSection('Афиша', true)
			section.section.estates
				.estates__container.container.card-container
					.estates__content
						.estates__top.card-content
							.estates__heading
								h1.h2.c-accent Познакомьтесь с&nbsp;усадьбами<br>Музея-заповедника
							.estates__subscription
								p В&nbsp;усадьбах проходила жизнь двух семей, росли дети, вершились наука и&nbsp;поэзия. Именно эти места объединили две семьи вместе, связав узами брака Александра Блока и&nbsp;Любовь Менделееву.
						ul.estates__list
							li.estates__item 
								.estates__text.card-content
									.estates__quoteblock
										.estates__quote
											+quote('А. Блок «Возмездие»', true)
												p И&nbsp;серый дом, и&nbsp;в мезонине<br>Венецианское окно,<br>Цвет стекол — красный, жёлтый, синий,<br>Как будто так и&nbsp;быть должно.
									.estates__name
										h4 Усадьба Шахматово
									.estates__description 
										p Усадьба была приобретена дедом А.&nbsp;Блока — А.Н.&nbsp;Бекетовым в&nbsp;1874&nbsp;году по&nbsp;совету близкого друга семьи — Д.И.&nbsp;Менделеева. Каждое лето А.&nbsp;Блок приезжал в&nbsp;Шахматово на&nbsp;протяжении 36&nbsp;лет своей жизни. Здесь усадебный дом с&nbsp;личными вещами поэта и&nbsp;членов его семьи, венецианские окна и&nbsp;дух поэзии…
									a(href=`${sitePath}shahmatovo.html`).estates__link.link.btn-link История усадьбы
								.estates__image 
									+picture('estate-shahmatovo', 'Усадьба семьи Бекетовых-Блока')
							li.estates__item 
								.estates__text 
									.estates__quoteblock
										.estates__quote
											+quote('Д.И. Менделеев \n «Биографические заметки \n о Д.И. Менделееве»', true)
												p 5&nbsp;июня 1865&nbsp;года командирован<br>в&nbsp;Москву на&nbsp;всеобщую выставку.<br>Тут&nbsp;с&nbsp;Ильиным и&nbsp;купил Боблово
									.estates__name
										h4 Усадьба Боблово
									.estates__description 
										p Имение, которое принадлежало воздухоплавателю, экономисту, путешественнику, учёному, изобретателю — Д.И.&nbsp;Менделееву (да-да, Менделеев был не&nbsp;только химиком, но&nbsp;и&nbsp;очень разносторонним человеком). Если хотите узнать много нового о&nbsp;жизни и&nbsp;научной деятельности Менделеева — вам&nbsp;точно нужно посетить Боблово.
									a(href=`${sitePath}boblovo.html`).estates__link.link.btn-link История усадьбы
								.estates__image 
									+picture('estate-boblovo', 'Усадьба Д.И. Менделеева')
							li.estates__item 
								.estates__text 
									.estates__quoteblock
										.estates__quote
											+quote('А. Блок «Я, отрок, зажигаю свечи»', true)
												p Падет туманная завеса.<br>Жених сойдет из&nbsp;алтаря.<br>И&nbsp;от&nbsp;вершин зубчатых леса<br>Забрежжит брачная заря
									.estates__name
										h4 Усадьба Тараканово
									.estates__description 
										p Усадьба капитана И.В.&nbsp;Тараканова. Здесь сохранилась земская школа, где&nbsp;раньше учили крестьянских детей, и&nbsp;в&nbsp;этом мемориальном здании — экспозиция, посвящённая жизни и&nbsp;творчеству поэта Серебряного века — А.А.&nbsp;Блока. На&nbsp;территории усадьбы: церковь Михаила Архангела, где&nbsp;венчался Александр Блок с&nbsp;дочерью Д.И.&nbsp;Менделеева — Любовью Менделеевой, памятник, прекрасный пруд и&nbsp;необъятные дали.
									a(href=`${sitePath}tarakanovo.html`).estates__link.link.btn-link История усадьбы
								.estates__image 
									+picture('estate-tarakanovo', 'Усадьба, где венчались Л.Д. Менделеева и А.А. Блок')
							li.estates__item 
								.estates__text 
									.estates__name
										h4 Музей-заповедник
									.estates__description 
										p Усадьба капитана И.В.&nbsp;Тараканова. Здесь сохранилась земская школа, где раньше учили крестьянских детей, и&nbsp;в&nbsp;этом мемориальном здании — экспозиция, посвящённая жизни и&nbsp;творчеству поэта Серебряного века — А.А.&nbsp;Блока. На территории усадьбы: церковь Михаила Архангела, где&nbsp;венчался Александр Блок с&nbsp;дочерью Д.И.&nbsp;Менделеева — Любовью Менделеевой, памятник, прекрасный пруд и необъятные дали.
									a(href=`${sitePath}history.html`).estates__link.link.btn-link История музея-заповедника
								.estates__image 
									+picture('estate-museum', '5 августа 2001 г. открыт Главный дом усадьбы Шахматово')
			section.section.news
				.news__container.container
					.news__content 
						.news__heading.section-heading.heading-more
							h2.section-header.news__header Новости
							a(href=`${sitePath}news.html`).heading-link.link.btn-link Все&nbsp;новости
				.card-container.container
					ul.news__list.card-list.card-list--three
						+newsItem('news-img-01', '15 декабря', 'График работы усадеб в праздничные дни', 'Приглашаем вас в усадьбы в новогодние каникулы! Наш музей-заповедник начинает работу с 3 января. Всю праздничную неделю для вас будут проводиться экскурсии и новогодние программы')
						+newsItem('news-img-02', '12 ноября', 'Новогодние программы', 'Новый год на носу! Новогодние программы будут проводиться с 20 по 30 декабря и с 2 по 14 января по предварительной записи. Бронирование мест осуществляется по телефону: +7 965 252-83-94. Время бронировать места на новогодние программы в музее-заповеднике:«Весёлый снеговик» в усадьбе Тараканово')
						+newsItem('news-img-03', '15 декабря', 'Новогодние программы', 'Новый год на носу! Новогодние программы будут проводиться с 20 по 30 декабря и с 2 по 14 января по предварительной записи. Бронирование мест осуществляется по телефону: +7 965 252-83-94. Время бронировать места на новогодние программы в музее-заповеднике: «Весёлый снеговик» в усадьбе Тараканово')
			section.section.rules
				.rules__container.container 
					.rules__content 
						.rules__heading.section-heading.heading-more 
							h2.section-header.rules__header Условия посещения<br>музея-заповедника
							a(href="#").heading-link.link.btn-link Ознакомиться со&nbsp;всеми условиями
				.card-container.container 
					ul.rules__list.card-list.card-list--two
						li.rules__item.card-item
							h5.rules__title.card-title <span class="c-accent">Важно!</span> Не забудьте! 
							p.rules__text Добавить блок на&nbsp;главной странице о&nbsp;«Условия посещения музея-заповедника. Мы находимся за городом. Важно предупредить посетителей об удобной обуви, отсутствии общепита, запрете на посещение усадеб с животными и т.д». Также упомянуть о парковке.
						li.rules__item.card-item
							h5.rules__title.card-title Парковка
							p.rules__text Добавить блок на главной странице о «Условия посещения музея-заповедника. Мы находимся за городом. Важно предупредить посетителей об удобной обуви, отсутствии общепита, запрете на посещение усадеб с животными и т.д». Также упомянуть о парковке.
						li.rules__item.card-item
							h5.rules__title.card-title Возьмите еду с собой!
							p.rules__text Добавить блок на главной странице о «Условия посещения музея-заповедника. Мы находимся за городом. Важно предупредить посетителей об удобной обуви, отсутствии общепита, запрете на посещение усадеб с животными и т.д». Также упомянуть о парковке.
						li.rules__item.card-item
							h5.rules__title.card-title <span class="c-accent">С животными нельзя!</span>
							p.rules__text Добавить блок на главной странице о «Условия посещения музея-заповедника. Мы находимся за городом. Важно предупредить посетителей об удобной обуви, отсутствии общепита, запрете на посещение усадеб с животными и т.д». Также упомянуть о парковке.
			section.section.contacts
				.contacts__container.container 
					.contacts__content 
						.contacts__heading.section-heading.section-heading--center
							h2.section-header Контакты
				.container.card-container
					ul.contacts__list.card-list.card-list--two.infotable
						li.contacts__item.card-item.infotable
							.contacts__row.infotable__row
								.contacts__col.infotable__col Официальный сайт музея-заповедника:
								.contacts__col.infotable__col 
									a(href=`${sitePath}`) шахматово.рф
							.contacts__row.infotable__row
								.contacts__col.infotable__col Почта организатора экскурсий:
								.contacts__col.infotable__col 
									a(href="mailto:mk_blok_organizator@mosreg.ru") mk_blok_organizator<span class="c-accent">@mosreg.ru
						li.contacts__item.card-item.infotable
							.contacts__row.infotable__row
								.contacts__col.infotable__col Официальный электронный почтовый ящик:
								.contacts__col.infotable__col 
									a(href="mailto:mk_al.blok@mosreg.ru") <span class="c-accent">mk_al.blok</span>@mosreg.ru
							.contacts__row.infotable__row
								.contacts__col.infotable__col Телефон организатора экскурсий:<br>(со&nbsp;вторника по&nbsp;воскресенье)
								.contacts__col.infotable__col 
									a(href="tel:+79652528394") +7&nbsp;(965)&nbsp;252-83-94
					.contacts__map
						.ymap#ymapMain