extends ../base

block vars
	-let pageName = 'shahmatovo-page'
	-let pageTitle = 'Усадьба Шахматово'
	-let metaTitle = 'Усадьба Шахматово | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.estate
			.container
				.estate__row
					.estate__col
						+breadcrumps(pageTitle)
						h1= pageTitle
						h2.c-accent 1874 год
						p Усадьбу Шахматово приобрёл учёный ботаник, дед А. Блока — Андрей Николаевич Бекетов в 1874 году по совету своего близкого друга <span class="c-accent">Дмитрия Ивановича Менделеева</span>. 
					.estate__col
						a.gallery-image(href=`${sitePath}img/estate-shahmatovo.jpg` data-fancybox) 
							+picture('estate-shahmatovo')
				.estate__row
					q
						span А. Блок «Возмездие»
						span.h2.c-accent «И старики, не прозревая Грядущих бедствий За грош купили Угол рая, неподалёку от Москвы...»
						span За небольшое имение из 120 десятин земли предыдущие владельцы попросили 5000 рублей серебром, что считалось скромной суммой. 
				.estate__row
					.estate__col
						+picture('estates/sign-01', false, 'svg')
						p Шахматово — летняя резиденция, в другие периоды года здесь не жили, но постоянно оставляли управляющего, человека, который следил за порядком.
						p Впервые Александра Блока привезли сюда в шестимесячном возрасте, в мае 1881 года, и потом, на протяжении почти всей жизни, на протяжении 36 лет из непрожитых 41 года — поэт каждое лето приезжал в Шахматово.
					.estate__col
						blockquote 
							p.c-accent
								|«Ключом старинным дверь открыли,<br>
								|Ребёнка внёс туда старик.<br>
								|И тишины не возмутили:<br>
								|Собачий лай и детский крик»
							cite А. Блок «Возмездие»
				.estate__row
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/shahmatovo-image-01.jpg` data-fancybox data-caption="Шахматово. \n На крыльце дома: А.А. Блок, с собакой Дианкой, А. А. Кублицкая-Пиоттух, А.Н. Бекетов, Н.Н. Бекетов, Е.Г. Бекетова, М.А. Бекетова. 1894 г.") 
							+picture('estates/shahmatovo-image-01', 'Шахматово. \n На крыльце дома: А.А. Блок, с собакой Дианкой, А. А. Кублицкая-Пиоттух, А.Н. Бекетов, Н.Н. Бекетов, Е.Г. Бекетова, М.А. Бекетова. 1894 г.')
					.estate__col
						h2.c-accent 1920е года
						p Здесь, в имении деда, прошли детские, юношеские и зрелые годы поэта. 
						p В 1910 году Блок заново перестроил дом и сам руководил строительством.
						p В последний раз поэт приехал в Шахматово на несколько дней в 1916 году, перед отправкой на фронт.
				.estate__row
					.estate__col
						h2.c-accent Восстановление
					.estate__col
						p В 1921 году этот поэтический <span class="c-accent">«УГОЛ РАЯ»</span> подвергся участи большинства «дворянских гнёзд»: обстановка и утварь была экспроприирована окрестными жителями, книги вывезены, дом сожжён.
						p После пожара были уничтожены все постройки, значительно пострадал и усадебный парк. Часть растений была уничтожена во время пожара, у некоторых оказался короткий срок жизни, часть не могла существовать в тени леса, поглотившего усадебный парк.
					.estate__col
						p Тем не менее, до нашего времени сохранились многие растения старого парка: деревья, кустарники, цветы. Сохранились фрагменты исторических посадок, являющиеся особо ценными мемориальными объектами.
						p В 1980 году, к 100-летнему юбилею А. Блока, на уровне власти было принято решение о восстановлении усадьбы Шахматово. Исторические документы, фотографии, рисунки, воспоминания гостей и хозяев Шахматова — дали возможность вернуть облик имения таким, каким оно было при жизни поэта.
				.estate__row
					a(href=`${sitePath}img/estates/shahmatovo-image-02.jpg` data-fancybox="gallery-repair" data-caption="Берёзовая аллея" class="gallery-image")
						+picture('estates/shahmatovo-image-02', 'Берёзовая аллея')
					a(href=`${sitePath}img/estates/shahmatovo-image-03.jpg` data-fancybox="gallery-repair" data-caption="Главный усадебный дом" class="gallery-image")
						+picture('estates/shahmatovo-image-03', 'Главный усадебный дом')
					a(href=`${sitePath}img/estates/shahmatovo-image-04.jpg` data-fancybox="gallery-repair" data-caption="Комната поэта" class="gallery-image")
						+picture('estates/shahmatovo-image-04', 'Комната поэта')
				.estate__row
					.estate__col
						h2.c-accent Музей-Заповедник
						p В 2000 году был открыт флигель, где жил А. Блок в детстве с мамой, а позже жил со своей супругой — Л.Д. Менделеевой.
						p 5 августа 2001 года распахнулись двери Главного дома для посетителей музея-заповедника.
						p.bolditalic В Шахматове дышится поэзией и чувствуется дух литературной семьи. Здесь Александр Блок черпал вдохновения для своей центральной темы произведений.
						+picture('estates/sign-02', false, 'svg', 'rtl')
					.estate__col
						blockquote 
							cite Письмо А. Блока —<br>К.С. Станиславскому
							p.c-accent «В таком виде стоит передо мной моя тема, тема о России (вопрос об интеллигенции и народе, в частности). Этой теме я сознательно и бесповоротно посвящаю жизнь. Все ярче сознаю, что это — первейший вопрос, самый жизненный, самый реальный. К нему‑то я подхожу давно, с начала своей сознательной жизни, и знаю, что путь мой в основном своём устремлении как стрела, прямой, как стрела — действенный».
						+picture('estates/sign-03', false, 'svg', 'rtl')
				.estate__row
					.estate__col
						span В&nbsp;настоящее время
						h2.c-accent Восстановлены:
					.estate__col
						a(href=`${sitePath}img/estates/shahmatovo-image-03.jpg` data-fancybox="shahmatovo-gallery" class="gallery-image") 
							+picture('estates/shahmatovo-image-03')
						a(href=`${sitePath}img/estates/shahmatovo-image-06.jpg` data-fancybox="shahmatovo-gallery" class="gallery-image") 
							+picture('estates/shahmatovo-image-06')
						a(href=`${sitePath}img/estates/shahmatovo-image-07.jpg` data-fancybox="shahmatovo-gallery" class="gallery-image") 
							+picture('estates/shahmatovo-image-07')
						a(href=`${sitePath}img/estates/shahmatovo-image-08.jpg` data-fancybox="shahmatovo-gallery" class="gallery-image") 
							+picture('estates/shahmatovo-image-08')
						a(href=`${sitePath}img/estates/shahmatovo-image-09.jpg` data-fancybox="shahmatovo-gallery" class="gallery-image") 
							+picture('estates/shahmatovo-image-09')
						a(href=`${sitePath}img/estates/shahmatovo-image-10.jpg` data-fancybox="shahmatovo-gallery" class="gallery-image") 
							+picture('estates/shahmatovo-image-10')
						a(href=`${sitePath}img/estates/shahmatovo-image-11.jpg` data-fancybox="shahmatovo-gallery" class="gallery-image") 
							+picture('estates/shahmatovo-image-11')
						a(href=`${sitePath}img/estates/shahmatovo-image-12.jpg` data-fancybox="shahmatovo-gallery" class="gallery-image") 
							+picture('estates/shahmatovo-image-12')
						div.mobile-hidden
							p Кроме усадебных построек <span class="c-accent">восстановлен и окружающий ландшафт</span>, который имеет историческое значение.
							a.btn.btn-primary(href="#") Билеты
							+picture('estates/sign-04', false, 'svg', 'rtl')
					.estate__col.desktop-hidden
						div 
							p Кроме усадебных построек <span class="c-accent">восстановлен и окружающий ландшафт</span>, который имеет историческое значение.
							a.btn.btn-primary(href="#") Билеты
							+picture('estates/sign-04', false, 'svg', 'rtl')
		+eventsSection('Мероприятия в Шахматово', true)