extends ../base

block vars
	-let pageName = 'tarakanovo-page'
	-let pageTitle = 'Усадьба Тараканово'
	-let metaTitle = 'Усадьба Тараканово | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.estate
			.container
				.estate__row
					.estate__col
						+breadcrumps(pageTitle)
						h1= pageTitle
						h2.c-accent 1627 год
						p Усадьба Тараканово известна по старинным документам ещё с 1627 года. Тогда это село называлось — <span class="c-accent">«Высокое»</span><br><span class="italic"> Вероятно из-за расположения на холме</span>.
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/tarakanovo-image-01.jpg` data-fancybox="tarakanovo-gallery") 
							+picture('estates/tarakanovo-image-01')
				.estate__row
					.estate__col
						h2.c-accent XII-ХIII века
						p В 1627 году этой усадьбой владел Неустрой Зароцкий. Своё современное название усадьба получила от владевших этими землями более ста лет дворян Таракановых. <span class="c-accent">Таракановы — известный род</span>, который был занесён в шестую книгу родословной Московской губернии.
						p В 1678 году Никита Ксенофонтович Тараканов построил здесь деревянную церковь Архистрага Михаила. В начале 18 века усадьба перешла сыну стольника Василья — Ивану Васильевичу Тараканову.
					.estate__col
						p Иван Васильевич перестроил усадьбу в строгих правилах «регулярной архитектуры»: двухэтажный дом, пруд, церковь. Усадебный дом был в ветхом состоянии уже тогда, когда здесь бывал великий поэт — <span class="c-accent">Александр Блок</span>.
						p В 1755–1764 годах капитан Иван Васильевич Тараканов построил новую, уже каменную церковь того же посвящения. Храм был выстроен в стиле барокко по проекту неизвестного архитектора круга К.И. Бланка.
						p В 1874 году колокольня Михайло-Архангельской церкви стала резко кренится и её разобрали. По проекту В.С. Грудзина рядом с храмом построили небольшую звонницу, простоявшую до 1936 г.
						+picture('estates/sign-01', false, 'svg', 'rtl')
				.estate__row
					blockquote
						cite М.А. Бекетова (тётушка А. Блока) писала:
						p.c-accent «Среди лужайки стояла белая каменная церковь с зелёной крышей около которой среди кустов и группы лип виднелось несколько заброшенных могил с покосившимися крестами. Церковь была довольно большая и старая, необычной для наших мест архитектуры, внутри были старинные образа и лепные украшения»
				.estate__row
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/tarakanovo-image-02.jpg` data-fancybox="tarakanovo-gallery" data-caption="Тараканово. \n Церковь Архангела Михаила") 
							+picture('estates/tarakanovo-image-02', 'Тараканово. \n Церковь Архангела Михаила')
					.estate__col
						h2.c-accent 1874 год
						p 17 августа 1903 года в храме венчались А.А. Блок и Л.Д. Менделеева. 
						p А годом раньше в храме отпевали ректора Санкт-Петербургского университета, профессора А.Н. Бекетова, деда поэта. 
						p Церковь Михаила Архангела увековечена в стихах Александра Блока и в поэме <span class="c-accent">«Возмездие»</span>.
						+picture('estates/sign-02', false, 'svg', 'rtl')
				.estate__row
					.estate__col
						h2.c-accent История усадьбы
					.estate__col
						p В 1928 году церковь закрыли. Позже её использовали в разных целях: как овощехранилище, как склад, как контору и клуб.
						p Во время Великой Отечественной войны, в ходе боёв Красной армии с фашистами под Солнечногорском, храм оказался буквально на передовой. В нем находился артиллерийский наблюдательный пункт, и храм превратился практически в руины…
						+picture('estates/sign-05', false, 'svg', 'rtl')
					.estate__col
						p Рядом с храмом захоронена троюродная племянница А.А. Блока — Ольга Сергеевна Соловьёва, дочь Сергея Михайловича Соловьёва, который был шафером на свадьбе Блоков. Ольга Сергеевна ушла из жизни в 2001 году.
						p Справа от храма Михаила Архангела в 2008-м, в «Год семьи», установлен памятник Любови Дмитриевне и Александру Александровичу Блокам 
				.estate__row
					.estate__col
						blockquote
							cite А. Блок — «Девушка пела в церковном хоре...»
							p.c-accent Девушка пела в церковном хоре<br>О всех усталых в чужом краю,<br>О всех кораблях, ушедших в море,<br>О всех, забывших радость свою.
							p.c-accent Так пел её голос, летящий в купол,<br>И луч сиял на белом плече,<br>И каждый из мрака смотрел и слушал,<br>Как белое платье пело в луче.
							p.c-accent И всем казалось, что радость будет,<br>Что в тихой заводи все корабли,<br>Что на чужбине усталые люди<br>Светлую жизнь себе обрели.
							p.c-accent И голос был сладок, и луч был тонок,<br>И только высоко, у Царских Врат,<br>Причастный Тайнам,- плакал ребёнок<br>О том, что никто не придёт назад.
						+picture('estates/sign-03', false, 'svg', 'rtl')
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/tarakanovo-image-03.jpg` data-fancybox="tarakanovo-gallery" data-caption="Тараканово. \n \n На скульптуре изображены Александр Александрович Блок и его жена Любовь Дмитриевна Блок (урожденная Менделеева). \n \n Скульптора Александра Александровича Рожникова") 
							+picture('estates/tarakanovo-image-03', 'Тараканово. \n \n На скульптуре изображены Александр Александрович Блок и его жена Любовь Дмитриевна Блок (урожденная Менделеева). \n \n Скульптора Александра Александровича Рожникова')
				.estate__row
					.estate__col
						a.gallery-image(href=`${sitePath}img/estates/tarakanovo-image-04.jpg` data-fancybox="tarakanovo-gallery" data-caption="Тараканово. \n Земская школа — «Жизнь без начала и конца»") 
							+picture('estates/tarakanovo-image-04', 'Тараканово. \n Земская школа — «Жизнь без начала и конца»')
					.estate__col
						h2.c-accent Земская школа
						p В музейный комплекс усадьбы капитана Ивана Васильевича Тараканова входит земская школа, построенная 1897 году. С 1898 года началась её история. За время существования, земская школа выучила грамоте несколько поколений деревенских детей. В 1969 году школа была закрыта за ненадобностью.
						p 9 августа 1970 года в стенах земской школы Московская писательская организация Союза писателей РСФСР подготовила и открыла фотовыставку, посвящённую жизни и творчеству А. Блока. Вскоре в это же здание была переведена сельская библиотека, которой присвоили имя поэта.
						p В земской школе сейчас располагается экспозиция <span class="c-accent">«Жизнь без начала и конца»</span>, которая рассказывает о творческом и жизненном пути поэта Серебряного века — А.А. Блока.
						a.btn.btn-primary(href=`${sitePath}tickets.html?ref=tarakanovo`) Билеты
		+eventsSection('Мероприятия в Тараканово', true)