.gallery
	.gallery__container.container 
		.gallery__banner.banner.swiper.swiper-gallery.swiper--nav-gallery
			.swiper-wrapper.banner__list
				.swiper-slide.banner__item
					+picture('news-detail-01')
				.swiper-slide.banner__item
					+picture('gallery-image-02')
				.swiper-slide.banner__item
					+picture('gallery-image-03')
				.swiper-slide.banner__item
					+picture('gallery-image-04')
				.swiper-slide.banner__item
					+picture('gallery-image-05')
				.swiper-slide.banner__item
					+picture('gallery-image-06')
				.swiper-slide.banner__item
					+picture('gallery-image-07')
				.swiper-slide.banner__item
					+picture('gallery-image-08')
				.swiper-slide.banner__item
					+picture('gallery-image-09')
				.swiper-slide.banner__item
					+picture('gallery-image-10')
				.swiper-slide.banner__item
					+picture('gallery-image-11')
				.swiper-slide.banner__item
					+picture('gallery-image-12')
				.swiper-slide.banner__item
					+picture('gallery-image-13')
				.swiper-slide.banner__item
					+picture('gallery-image-14')
			.banner__tools
				.swiper-navigation.banner__navigation
					.swiper-button-prev.banner__btn.banner__btnprev
					.swiper-button-next.banner__btn.banner__btnnext
				.swiper-pagination.banner__pagination
	.container 
		ul.gallery__list
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/news-detail-01.jpg` data-fancybox="gallery") 
					+picture('news-detail-01')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-02.jpg` data-fancybox="gallery") 
					+picture('gallery-image-02')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-03.jpg` data-fancybox="gallery") 
					+picture('gallery-image-03')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-04.jpg` data-fancybox="gallery") 
					+picture('gallery-image-04')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-05.jpg` data-fancybox="gallery") 
					+picture('gallery-image-05')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-06.jpg` data-fancybox="gallery") 
					+picture('gallery-image-06')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-07.jpg` data-fancybox="gallery") 
					+picture('gallery-image-07')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-08.jpg` data-fancybox="gallery") 
					+picture('gallery-image-08')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-09.jpg` data-fancybox="gallery") 
					+picture('gallery-image-09')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-10.jpg` data-fancybox="gallery") 
					+picture('gallery-image-10')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-11.jpg` data-fancybox="gallery") 
					+picture('gallery-image-11')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-12.jpg` data-fancybox="gallery") 
					+picture('gallery-image-12')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-13.jpg` data-fancybox="gallery") 
					+picture('gallery-image-13')
			li.gallery__item
				a.gallery__link.gallery-image(href=`${sitePath}img/gallery-image-14.jpg` data-fancybox="gallery") 
					+picture('gallery-image-14')
