mixin picture(path, caption = false, type = 'jpg')
	figure
		picture
			//- source(type="image/avif" srcset=`img/${path}.avif`)
			//- source(type="image/webp" srcset=`img/${path}.webp`)
			img(src=`${sitePath}img/${path}.${type}?${randomNumber}`, alt="")
		if (caption)
			figcaption= caption

mixin breadcrumps(page)
	.breadcrumps
		a.breadcrumps__home.link.btn.btn-link(href=`${sitePath}`) Главная страница
		span.breadcrumps__separator 	
			svg(width="5" height="5")
				use(xlink:href=`${sitePath}img/vector-icons/icon-separator.svg#icon-separator`)
		span.breadcrumps__current= page

mixin newsItem(image, date, title, announce)
	li.news__item.card-item
		.news__image
			+picture(image)
		span.news__date= date
		a(href="#").news__title= title
		p.news__announce= announce
		a(href="#").news__link.link.btn-link К новости

mixin eventItem(day, month, location, title, announce, note = false)
	li.events__item 
		.events__top 
			.events__date
				span.events__day= day
				span.events__month= month
				if (note)
					span.events__note Важно!
			.events__head 
				.events__location= location
				a(href="#").events__title.h5= title
			.events__text
				.events__announce= announce
				a(href="#").events__link.btn.link.btn-link Читать подробнее
		.events__body

mixin eventsSection(title, showmore = false)
	section.section.events
		.events__container.container 
			.events__content 
				.events__heading.section-heading.section-heading--center
					h2.section-header= title
				.events__groups.groups
					ul.groups__list
						li.groups__item
							button.groups__btn.h5(data-button="exhibitions") Выставки
						li.groups__item
							button.groups__btn.h5(data-button="events") Ежегодные мероприятия
						li.groups__item
							button.groups__btn.h5(data-button="child") Детские программы
				ul.events__list#exhibitions
					+eventItem('24', 'Ноября', 'Боблово', '«Дачная жизнь много лет тому назад»', 'Как принято считать, предприниматели в сети интернет будут объективно рассмотрены соответствующими инстанциями. Идейные соображения высшего порядка, а также высокотехнологичная концепция общественного уклада является качественно новой ступенью распределения внутренних резервов и ресурсов. Повседневная практика показывает, что начало повседневной работы по формированию позиции обеспечивает актуальность глубокомысленных рассуждений. А ещё сторонники тоталитаризма в науке будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.', true)
					+eventItem('15', 'Декабря', 'Тараканово', '«Город туманов и снов…»', 'В усадьбе И.В. Тараканова во втором зале земской школы открылась выставка «Город туманов и снов…». В витринах вы можете увидеть альбомы, открытки и гравюры 19 века с видами Санкт-Петербурга, газеты, журналы, приглашения и других замечательных свидетелей времени Санкт-Петербурга, Петрограда, Ленинграда. На стенах — графика и живопись художников 20 века: Зинаиды Серебряковой, Анны Остроумовой-Лебедевой, Тамары Рейн, Натальи Гиппиус, Кирилла Соколова и др.')
					+eventItem('07', 'Декабря', 'Тараканово', '105-летию издательства «Всемирная литература»', 'В главном доме Шахматова открылась выставка, посвященная 105-летию издательства «Всемирная литература». В усадьбах проходила жизнь двух семей, росли дети, вершились наука и поэзия. Именно эти места объединили две семьи вместе, связав узами брака Александра Блока и Любовь Менделееву.')
				ul.events__list#events
					+eventItem('15', 'Декабря', 'Тараканово', '«Город туманов и снов…»', 'В усадьбе И.В. Тараканова во втором зале земской школы открылась выставка «Город туманов и снов…». В витринах вы можете увидеть альбомы, открытки и гравюры 19 века с видами Санкт-Петербурга, газеты, журналы, приглашения и других замечательных свидетелей времени Санкт-Петербурга, Петрограда, Ленинграда. На стенах — графика и живопись художников 20 века: Зинаиды Серебряковой, Анны Остроумовой-Лебедевой, Тамары Рейн, Натальи Гиппиус, Кирилла Соколова и др.')
					+eventItem('07', 'Декабря', 'Тараканово', '105-летию издательства «Всемирная литература»', 'В главном доме Шахматова открылась выставка, посвященная 105-летию издательства «Всемирная литература». В усадьбах проходила жизнь двух семей, росли дети, вершились наука и поэзия. Именно эти места объединили две семьи вместе, связав узами брака Александра Блока и Любовь Менделееву.')
					+eventItem('24', 'Ноября', 'Боблово', '«Дачная жизнь много лет тому назад»', 'Как принято считать, предприниматели в сети интернет будут объективно рассмотрены соответствующими инстанциями. Идейные соображения высшего порядка, а также высокотехнологичная концепция общественного уклада является качественно новой ступенью распределения внутренних резервов и ресурсов. Повседневная практика показывает, что начало повседневной работы по формированию позиции обеспечивает актуальность глубокомысленных рассуждений. А ещё сторонники тоталитаризма в науке будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.', true)
				ul.events__list#child
					+eventItem('07', 'Декабря', 'Тараканово', '105-летию издательства «Всемирная литература»', 'В главном доме Шахматова открылась выставка, посвященная 105-летию издательства «Всемирная литература». В усадьбах проходила жизнь двух семей, росли дети, вершились наука и поэзия. Именно эти места объединили две семьи вместе, связав узами брака Александра Блока и Любовь Менделееву.')
					+eventItem('24', 'Ноября', 'Боблово', '«Дачная жизнь много лет тому назад»', 'Как принято считать, предприниматели в сети интернет будут объективно рассмотрены соответствующими инстанциями. Идейные соображения высшего порядка, а также высокотехнологичная концепция общественного уклада является качественно новой ступенью распределения внутренних резервов и ресурсов. Повседневная практика показывает, что начало повседневной работы по формированию позиции обеспечивает актуальность глубокомысленных рассуждений. А ещё сторонники тоталитаризма в науке будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.', true)
					+eventItem('15', 'Декабря', 'Тараканово', '«Город туманов и снов…»', 'В усадьбе И.В. Тараканова во втором зале земской школы открылась выставка «Город туманов и снов…». В витринах вы можете увидеть альбомы, открытки и гравюры 19 века с видами Санкт-Петербурга, газеты, журналы, приглашения и других замечательных свидетелей времени Санкт-Петербурга, Петрограда, Ленинграда. На стенах — графика и живопись художников 20 века: Зинаиды Серебряковой, Анны Остроумовой-Лебедевой, Тамары Рейн, Натальи Гиппиус, Кирилла Соколова и др.')
				if (showmore)
					.events__more 
						button.btn.btn-link.btn-showmore Показать ещё