mixin picture(path, caption = false, type = 'jpg')
	figure
		picture 
			//- source(type="image/avif" srcset=`img/${path}.avif`)
			//- source(type="image/webp" srcset=`img/${path}.webp`)
			img(src=`${sitePath}img/${path}.${type}?${randomNumber}`, alt="")
		if (caption)
			figcaption!= caption.replace(/\n/g, '<br>')

mixin breadcrumps(currentPage, prevPage = false, prevLink = false)
	.breadcrumps
		a.breadcrumps__home.link.btn.btn-link(href=`${sitePath}`) Главная страница
		span.breadcrumps__separator.breadcrumps__separator--first
		if (prevPage && prevLink)
			a.breadcrumps__prev.link.btn.btn-link(href=`${sitePath}${prevLink}`)= prevPage
			span.breadcrumps__separator
			span.breadcrumps__current= currentPage
		else
			span.breadcrumps__current= currentPage


mixin newsItem(image, date, title, announce)
	li.news__item.card-item
		.news__inner
			.news__image
				+picture(image)
			span.news__date= date
			a(href=`${sitePath}news-detail.html`).news__title= title
			p.news__announce= announce
			a(href=`${sitePath}news-detail.html`).news__link.link.btn-link К&nbsp;новости

mixin eventItem(day, month, location, title, announce, note = false)
	li.events__item
		.events__top 
			.events__col
				.events__date
					span.events__day= day
					span.events__month= month
					if (note)
						span.events__note Важно!
				.events__head 
					.events__location= location
					a(href="#").events__title.h5= title
			.events__col
				.events__text
					.events__announce= announce
					a(href="#").events__link.btn.link.btn-link Читать подробнее
		.events__body

mixin eventsSection(title, showmore = false)
	section.section.events
		.events__container.container 
			.events__content 
				.events__heading.section-heading.section-heading--center
					h2.section-header= title
		.card-container.container 
			include events
			if (showmore)
				.events__more 
					button.btn.btn-link.btn-showmore Показать ещё

mixin historyItem(year)
	li.history__item
		.history__year= year
		.history__text 
			block

mixin quote(caption, outerquotes = false, position = false)
	blockquote(class=outerquotes ? 'outerquotes' : '')(class=position ? 'cite-top' : '')
		q
			block 
		if (caption !== '')
			cite!= caption.replace(/\n/g, '<br>')
